body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#reload-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#reload-button i {
    margin-right: 5px;
}

h1 {
    margin-bottom: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gallery-image {
    width: 300px; /* Set a fixed width for all images */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    max-width: 100%; /* Ensure images don't exceed their container width */
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
